.header{
	background-color: rgb(238, 238, 238);
}

.header-height{
	height: 50px;

	@media screen and (max-width: $max-width-media-2) {
		height: 80px;
  	}
}

.logo{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(153, 153, 153);
	text-decoration: none;
}

.main-menu-button{
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid rgb(197, 197, 197);
	color: rgb(197, 197, 197);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	top: 20px;
	right: 20px;

	@media screen and (max-width: $max-width-media-2) {
		display: inherit !important;
  	}
}