.header{
	background-color: rgb(238, 238, 238);
}

.header-height{
	height: 50px;

	@media screen and (max-width: $max-width-media-2) {
		height: 80px;
  	}
}

.logo{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(153, 153, 153);
	text-decoration: none;
}

.main-menu{
	margin-top: 19px;

	@media screen and (max-width: $max-width-media-2) {
		margin-top: 70px;
		display: none;
	}
}

.element-main-menu{
	display: inline;
	margin-right: 38px;
}

.menu-text{
	font-size: 16px;
	color: rgb(0, 136, 204);
	text-decoration: none;
}

.field-tape-url{
	position: absolute;
	top: 12px;
	right: 135px;
	width: 200px;
	height: 21px;
	border: 1px solid rgb(177, 177, 177);
	font-size: 15px;
	color: rgb(188, 188, 188);
	padding: 3px 5px 2px 5px;
	background-color: rgb(238, 238, 238);

	@media screen and (max-width: $max-width-media-2) {
		top: 25px;
		left: 15px;
		display: none;
  	}
}

.send-tape-url{
	position: absolute;
	top: 12px;
	right: 15px;
	width: 100px;
	height: 27px;
	font-size: 12px;
	border: 1px solid rgb(177, 177, 177);
	background-color: rgb(238, 238, 238);

	@media screen and (max-width: $max-width-media-2) {
		top: 25px;
		left: 240px;
		display: none;
  	}
}

.main-menu-button{
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid rgb(197, 197, 197);
	color: rgb(197, 197, 197);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	top: 20px;
	right: 20px;

	@media screen and (max-width: $max-width-media-2) {
		display: inherit !important;
  	}
}