$cols-size-970: 50.5px;
$cols-size-750: 32px;
$cols-size-480: 50px;
$cols-padding: 15px;

$max-width-media-1: 969px;
$max-width-media-2: 760px;

@mixin cols-padding(){
	padding-left: $cols-padding;
	padding-right: $cols-padding;
}


.not-display{
	display: none;
}

.cursor-pointer{
	cursor: pointer;
}

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 0px;
  font-family: Arial, Verdana sans-serif;

}

body {
  background-color: #D8D8D8;
}

.container{
	position: relative;
	height: 100%;
	background-color: rgb(216, 216, 216);
}

.inline-block{
	display: inline-block;
	vertical-align: top;
}

.pos-relative{
	position: relative;
}

.main{
	margin-bottom: 50px;
}

@import 'div-cols';
@import 'header';
@import 'title';
@import 'news-page';
@import 'footer';
