@mixin disp-inline-block() {
  display: inline-block;
  vertical-align: top;
}

@mixin div-news-and-tape-title(){
  @include disp-inline-block();
  border-bottom: 1px solid #adadad;

  &:hover{
    cursor: pointer;
    border-bottom: 1px solid #08c;
  }
}

@mixin news-tittle-and-tape-url() {
  @include disp-inline-block();
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  width: 750px;
}

@mixin img-delete-or-send($margin, $imageUrl) {
  @include disp-inline-block();
  margin: #{$margin};
  opacity: 0.5;

  &:hover {
    background-image: #{$imageUrl};
  }
}