/*html header*/

.headerElement{
  background-color: #eeeeee;
}

.divHeaderElements{
  position: relative;
  width: 1000px;
  margin: 0px auto;
  height: 60px;
}

/*Logo*/

.aSiteLogo{
  position: absolute;
  top: 15px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
  font-size: 28px;
}

/*Main menu*/

nav{
  @include disp-inline-block();
  margin: 23px 0px 0px 150px;
}

.ulMainMenu{
  @include disp-inline-block();
  list-style-type: none;
  padding: 0px;
}

.liMainMenu{
  display: inline;
  margin: 0px 30px 0px 0px;
}

.aMainMenu{
  @include disp-inline-block();
  text-decoration: none;
  color: #08c;
  font-size: 16px;

  &:hover{
    text-decoration: underline;
  }
}

/*Block send new tape to system*/

.inputSendNewTape{
  position: absolute;
  top: 15px;
  right: 160px;
  border: 1px solid #b1b1b1;
  width: 200px;
  height: 25px;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
  color: #b1b1b1;
  background-color: #eeeeee;
}

.buttonSendNewTape{
  position: absolute;
  top: 15px;
  right: 40px;
  border: 1px solid #b1b1b1;
  width: 100px;
  height: 27px;
  font-size: 14px;
  background-color: #eeeeee;
  color: #7b7b7b;

  &:hover{
    cursor: pointer;
    background-color: #e7e7e7;
  }
}

