/*H1 titile*/
h1{
  font-size: 16px;
  margin: 30px 0px 20px 0px;
}

/*body part index page and archive*/

.divHeadPartOneNews{
  @include div-news-and-pate-title()
}

.divBlockWithFlags{
  @include disp-inline-block();
  width: 60px;
}

.divTitleAndDate{
  @include disp-inline-block();
  width: 940px;
}

.pTitleOneNews{
  @include news-tittle-and-tape-url();
}

.pTimeOneNews{
  @include disp-inline-block();
  margin: 12px 30px 0px 0px;
  float: right;
  font-size: 12px;
  color: #999;
  width: 100px;
}

.divOneNews{
  margin: 0px 0px 0px 10px;;
  width: 950px;
  border-bottom: 1px solid #adadad;
  display: none;
}

.divOneNews:hover{
  cursor: pointer;
}

.pDescriptionOneNews{
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  line-height: 21px;
}

.aReadAllNewsText{
  @include disp-inline-block();
  margin: 0px 0px 15px 0px;
  font-size: 14px;
  color: #08c;
}

.aReadAllNewsText:hover{
  color: #90c7ff;
}

.aExternalUrl{
  font-size: 14px;
  color: #999;
}

.aExternalUrl:hover{
  color: #5a5a5a;
}

/*body part only index page*/

.imgSendToArchive{
  @include img-delete-or-send("12px 20px 10px 20px", "url('/public/img/folder-hover-or-click.png')");
}

/*body part only archive page*/

.imgDeleteFromArchive{
  @include img-delete-or-send("12px 20px 10px 20px", "url('/public/img/bucket-hover.png')");
}
