@import 'common-mixins-mozilla';
@import 'head-html-part-mozilla';
@import 'index-and-archive-page-mozilla';
@import 'tape-page-mozilla';
@import 'footer-html-part-mozilla';


*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 0px;
  font-family: Arial, Verdana sans-serif;
}

body {
  background-color: #D8D8D8;
}

.divMain{
  margin: 0px auto;
  width: 1000px;
}